body {
    margin: 0.75em;

    font-family: 'Fira Sans', 'Roboto', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 22px;

    background-color: #F9F9F9;
}

header {
    margin: 2.5em 0;
    color: #3C7;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 300;
    transition: font-size 0.2s;
}

@media all and (max-width: 420px) {
    h1 { font-size: 2em }
}

a {
    color: #3C7;
    text-decoration: none;
}

.margin{
    margin: 0 auto;

    max-width: 750px;
    width: 100%;
}

blockquote,
footer {
    margin: 1.5em 0;
    color: #888;
    text-align: center;
}

::selection {
    color: #FFF;
    background: #3C7;
}

::-moz-selection {
    color: #FFF;
    background: #3C7;
}
